<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Kadai of Thymeleaf</title>
</head>
<body>
    <h1 th:text="#{content.title}"></h1>
    <h2 th:text="#{content.input}"></h2>
    <p th:text="#{content.nyuryoku}"></p>
    <p th:if="${previous} != ${null}" th:text="#{content.nyuryoku,zenkai1} + ${previous} + #{content.nyuryoku,zenkai2}">th:if</p>
    <form method="post" action="/output">
        <input type="text" name="val">
        <button type="submit" th:text="#{content.sousin}"></button>
    </form>
</body>
</html>